/* You can add global styles to this file, and also import other style files */
body{
  marigin: 0;
  background: #E6E6E6;
  font-family: Montserrat, sans-serif;
  height: 100vh;
}

#container{
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;

  #content {
    padding: 30px 50px;

    ul {
      list-style-type: none;
      marigin: 0;
      padding: 0;

      li {
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;

        a {
          font-size: 1.5em;
          text-decoration: none;
          font-weight: bold;
          color: #00A8FF;
        }

        ul {
          margin-top: 20px;
          margin-left: 10px;

          li {
            padding: 0;
            margin-left: 20px;

            a {
              font-size: 1em;
              font-weight: 300;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }

}
@import "~compass-mixins/lib/compass/css3";

.input-text {
  display: inline-block;
  @include box-sizing(content-box);
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  @include border-radius(3px);
  font: normal 16px/normal "Courier New", Courier, monospace;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  @include background(rgba(252,252,252,1));
  @include box-shadow(2px 2px 2px 0 rgba(0,0,0,0.2) inset);
  @include text-shadow(1px 1px 0 rgba(255,255,255,0.66) );
  @include transition(all 200ms cubic-bezier(0.42, 0, 0.58, 1));
}

.button-sub {
  display: inline-block;
  @include box-sizing(content-box);
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  @include border-radius(3px);
  font: normal 16px/normal "Courier New", Courier, monospace;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  @include background(#02b8d8);
  @include box-shadow(2px 2px 2px 0 rgba(0,0,0,0.2) );
  @include text-shadow(-1px -1px 0 rgba(15,73,168,0.66) );
  @include transition(background-color 200ms cubic-bezier(0.42, 0, 0.58, 1));
}

.button-sub:active{
  @include background(#0040FF);
}

::placeholder{
  color: rgba(0,142,198,1);
  opacity: 1;
}
